* {
    box-sizing: border-box;
    margin: 0;
}


#game {
    position: fixed;
    width: 100%;
    height: 100%;
}

/*****************************
  *** PARALLAX BACKGROUND ***
 *****************************/
@keyframes autoscroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-30%);
    }
}



#ground {
    background: url("../images/6.png") repeat-x 0 bottom;
    animation: autoscroll 3s linear infinite;
    z-index: 90;
}

#treesAndBushes {
    background: url("../images/4.png") repeat-x 0 bottom;
    animation: autoscroll 6s linear infinite;
    z-index: 80;
}

#distantTrees {
    background: url("../images/2.png") repeat-x 0 bottom;
    animation: autoscroll 8s linear infinite;
    z-index: 70;
}


#bushes {
    background: url("../images/5.png") repeat-x 0 bottom;
    animation: autoscroll 10s linear infinite;
    z-index: 50;
}

#hills {
    background: url("../images/3.png") repeat-x 0 bottom;
    animation: autoscroll 12s linear infinite;
    z-index: 60;
}


#ground,
#treesAndBushes,
#distantTrees,
#bushes,
#hills{
    width: 270%;
    height: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    background-size: 30%;
}


/*****************************
 ***   character/ghosty    ***
 *****************************/

#ghosty{
    background:url("../images/ghostyGif.gif") no-repeat;
    background-size: contain;
    width: 15%;
    height: 30%;
    z-index: 150;
    position: absolute;
    left: 20%;
    bottom: 2%;
}

.ghostyJump {
    animation: ghosty-jump 1400ms;
}

@keyframes ghosty-jump {
    0% {
        bottom: 2%;
    }
    30%{
        bottom: 30%;
    }
    50% {
        bottom: 40%;
    }
    100% {
        bottom: 2%;
    }
}


/*****************************
 ***       obstacle        ***
 *****************************/

#obstacle {
    width: 13%;
    height: 25%;
    background:url("../images/blueBat.gif") no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 10%;
    left: 150%;
    z-index: 150;
    animation: crashCourse 3.5s infinite linear;
}

@keyframes crashCourse {
    0% {
        left: 1800px;
    }
    100% {
        left: -400px;
    }
}

