* {
    box-sizing: border-box;
    margin: 0;
}


#game {
    position: fixed;
    width: 100%;
    height: 100%;
}

/*****************************
  *** PARALLAX BACKGROUND ***
 *****************************/
@keyframes autoscroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-30%);
    }
}



#ground {
    background: url("../images/6.png") repeat-x 0 bottom;
    animation: autoscroll 3s linear infinite;
    z-index: 90;
}

#treesAndBushes {
    background: url("../images/4.png") repeat-x 0 bottom;
    animation: autoscroll 6s linear infinite;
    z-index: 80;
}

#distantTrees {
    background: url("../images/2.png") repeat-x 0 bottom;
    animation: autoscroll 8s linear infinite;
    z-index: 70;
}


#bushes {
    background: url("../images/5.png") repeat-x 0 bottom;
    animation: autoscroll 10s linear infinite;
    z-index: 50;
}

#hills {
    background: url("../images/3.png") repeat-x 0 bottom;
    animation: autoscroll 12s linear infinite;
    z-index: 60;
}


#ground,
#treesAndBushes,
#distantTrees,
#bushes,
#hills{
    width: 270%;
    height: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    background-size: 30%;
}


/*****************************
  *** character/ghosty ***
 *****************************/

#ghosty{
    background:url("../images/ghosty.png") no-repeat;
    background-size: contain;
    width: 15%;
    height: 30%;
    z-index: 150;
    position: absolute;
    left: 20%;
    bottom: 2%;
}

.ghostyJump {
    animation: ghosty-jump 1000ms;
}

@keyframes ghosty-jump {
    0% {
        bottom: 2%;
    }
    30% {
        bottom: 10%;
    }
    70% {
        bottom: 25%;
    }
    100% {
        bottom: 2%;
    }
}